@import url(./variables.css);

footer {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--couleur-principale);
}

.lang-form {
  padding-right: 10px;
}