@import url(./variables.css);

header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--couleur-principale);
}

.page-logo-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-site {
  width: 100px;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding-right: 10px;
}

.inactive-nav-button {
  opacity: 0.5;
}