body {
    font-family: 'Roboto';
    padding-top: 100px;
    margin: 0;
}

.page {
    min-height: 80vh;
}

.code-barre {
    font-family: 'Libre Barcode EAN13 Text';
    font-size: 120px;
}

.nav-button,
.lang-button {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-width: 0;
    border-radius: 5px;
    padding: 5px;
    transition: 0.1s;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: lightgray;

        .tooltip {
            opacity: 1;
            transition-delay: 0.5s;
        }
    }

    &:active {
        opacity: 0.5;
    }

    .tooltip {
        position: absolute;
        bottom: -30px;
        background-color: rgb(70, 70, 70);
        border-radius: 3px;
        padding: 4px;
        color: white;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
    }
}
.nav-button.text-button{
    width: auto;
    border: 3px;
    border-width: 3px;
    border-color: black;
    background-color: darkred;
}

.nav-img,
.lang-img {
    width: 100%;
}