.track-food-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.consomation-aliment-row,
.consomation-aliment-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.consomation-aliment-field {}

.consomation-aliment-image {
  height: 100px;
}

.green-background {
  background-color: var(--couleur-principale) !important;
}
